body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.nav-link{
    font-family: "Quicksand", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');